body {
    width: 300px;
    top: 0px;
    left: 9px;
    margin: 0;
    padding: 0;
    position: relative;
    color: #fff;
    font-family: "Lucida Grande" ;
    font-size: 10px;
    line-height: 15px;
    text-shadow: 0px 1px 1px #000;
    -webkit-animation-name: body;
    -webkit-animation-duration: 0.2s;
    } 

#outer {
    border: 1px solid rgba(0,0,0,1);
    -webkit-border-radius: 5px;
}

#container {
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(44,44,44,0.99)), to(rgba(5,5,5,0.99)));
    border-top: 1px solid rgba(100,100,100,0.8);
    border-left: 1px solid rgba(80,80,80,0.8);
    border-right: 1px solid rgba(80,80,80,0.8);
    border-bottom: 1px solid rgba(60,60,60,0.8);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.5); 
}

#top, #bottom {
    height: 30px;
}

#icon {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index:2;
}

#icon, #icon img {    width: 32px;    height: 32px;    -webkit-border-radius: 2.5px;    -webkit-animation-name: icon;    -webkit-animation-duration: 0.25s;}

#title, #text {
    width: 228px;    padding: 0 22px 0 57px;    overflow: hidden;    background: transparent;    position: relative;    float: left;    clear: both;    text-align: left;
    text-shadow: 0px 1px 1px rgba(0,0,0,1), 0px -1px 1px rgba(102,102,102,0.25);
    -webkit-animation-name: text;    -webkit-animation-duration: 0.25s;
}

#title {    font-weight: bold;    padding-bottom: 0px;    margin-top: -15px;}

#text {
    margin-bottom: -15px;
}

.clear {
    clear: both;
}

@-webkit-keyframes body {
    0%   { left: 9px; opacity: 0; -webkit-transform: scale(1.0,0.1); }
    100% { left: 9px; opacity: 1; -webkit-transform: scale(1.0,1.0); }
}

@-webkit-keyframes icon {
    0%   { left: 16px; opacity: 0; -webkit-transform: scale(0.1,0.1); }
    100% { left: 16px; opacity: 1; -webkit-transform: scale(1.0,1.0); }}

@-webkit-keyframes text {
    0%   { left: 0px; opacity: 0; -webkit-transform: scale(0.1,0.1); }
    100% { left: 0px; opacity: 1; -webkit-transform: scale(1.0,1.0); }}